[submodule "shared/less-ui"]
	path = shared/less-ui
	url = https://github.com/tianyingchun/less-ui.git
[submodule "shared/react-ui"]
	path = shared/react-ui
	url = https://github.com/tianyingchun/react-ui.git
